 {%load static%}
       <!-- Footer -->
       <footer class="text-center text-lg-start text-white footer-back">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 align-left contact-text-center">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            TAXIROKO
                        </h6>
                        <p>
                            TAXIROKO is a brand name under SG Biz. It is a modern and efficient taxi service that provides convenient transportation solutions to its customers.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 align-left contact-text-center">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i>Ground Floor, Lane 2 Opp. Aluminium Factory
                            Panchanai Agam Singh Nagar, 
                            SILIGURI, Darjeeling, 
                            West Bengal, 734003</p>
                        <p><i class="fas fa-envelope mr-3"></i> taxiroko2023@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 91 8971705301</p>
                        <p><i class="fas fa-phone mr-3"></i> + 91 9907200490</p>
                        <p><i class="fas fa-phone mr-3"></i> + 91 7363030051</p>
                        <p><i class="fas fa-phone mr-3"></i> + 91 7908039176</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://www.facebook.com/profile.php?id=61550286030047"
                            role="button">
                            <i class="fab fa-facebook-f white"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://twitter.com/TaxiRoko"
                            role="button">
                            <i class="fab fa-twitter white"></i>
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://www.instagram.com/taxiroko/"
                            role="button">
                            <i class="fab fa-instagram white"></i>
                        </a>

                        <div class="QR-payment text-center">
                            <img src="{%static 'images/QR-payment.png' %}" alt="PAYMENT">
                            <p>MSSGBI.eazypay@icici</p>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
