{%extends 'Main.html'%}
{%load static %}
{%block content%}

    <section class="about-us">
        <div class="container text-center text-black mt-4">
            <h2 class="white">About <span class="line">Us</span></h2>
            <p class="mt-3 text-center white about-us-para">We are Taxi Roko situated in the foot-hills of the Himalayas called “Siliguri”. A tourist corridor to many enchanting places on the belt of the Himalayas. We are a team of four passionate individuals who want to make life easy for travelers in our locations. It’s not only about the unorganized means of travel that we wanted to solve but also about the growth of the region, giving opportunities to the unemployed, creating the best image of our people & culture, changing the perception of jobs, and contributing to the growth of the society.
                We are localites who want to leverage technologies to make travel convenient, comfortable yet inclusive for all. It is need not to mention that we localities know the region's nooks and corners thoroughly. This is why we are confident that we will take care of all of our travelers/stakeholders like nobody can.
                We strive to make travel convenient and enriching.
                When you make us “a part of your journey” that's when we grow.
                Thank You! See you Soon!
            </p>
        </div>
    </section>

    <!-- About our taxiroko team -->
    <div class="profile-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-profile">
                    <div class="card-profile">
                        <div class="img1"><img src="{%static 'images/contact.png' %}"></div>
                        <div class="img2"><img src="{%static 'images/sudan-gurung.png' %}"></div>
                        <div class="main-text white">
                            <h2>SUDAN GURUNG</h2>
                            <p> FOUNDER </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-profile">
                        <div class="img1"><img src="{% static 'images/contact.png' %}"></div>
                        <div class="img2"><img src="{%static 'images/raman-tamang.png' %}"></div>
                        <div class="main-text white">
                            <h2>RAMAN TAMANG</h2>
                            <p> CO FOUNDER </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-profile">
                        <div class="img1"><img src="{%static 'images/contact.png' %}"></div>
                        <div class="img2"><img src="{%static 'images/sahil-thapa.png' %}"></div>
                        <div class="main-text white">
                            <h2>SAHIL THAPA</h2>
                            <p> CO FOUNDER
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 {%endblock content%}